/source/data/qdrant_data/
/source_research/Source_Fine-Tuning/embedding
/source_research/Source_Fine-Tuning/full_extract
/source_research/Source_Fine-Tuning/lora_extract
/source_research/Source_Fine-Tuning/result
/source_research/Source_Fine-Tuning/data
